/*
1) 속성은 형태 - 흐름 - 위치 - 크기 - 박스모델 - 배경 - 글자 - 기타 순으로 지정한다.
a {
    display: inline-block; float: left; clear: both; 
    position: left; left:10px; right:10px; top:10px; bottom: 10px; z-index:10px;
    width:10px;height:10px;overflow: hidden;
    margin:0 auto; padding: 0 0 0 0; border: 1px solid red;
    background: url('./test.gif');
    text-align:center; font-size:10px;
    /// 기타 ///
}
*/

header {width:100%;height:85px;margin-bottom:2px;}
header.detail {border-bottom:1px solid #e5e5e5;} /* header 밑줄 */
header.mymenu_layout {background: #694ec2}
footer {width:100%;height:330px;margin:0 auto;}

/* ##########################  header  &  GNB  ########################*/

header div {
    line-height: 83px;
}

header div img{
    vertical-align: middle;
}

header .logo {
    display: inline-block;
    width:14%;
    text-align: left;
    padding-left: 30px;
}

header .gnb {
    display: inline-block;
    width:70%;
    text-align: center;
}

header .gnb ul{
    list-style: none;    
}

header #gnb ul li {
    display:inline-block;
}

header #gnb ul li a {
    padding:30px 2px;
    margin: 0 22px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

header #gnb ul li a:hover {
    color: #694ec2;
    border-bottom:3px solid #694ec2;
}

header .ico-menu {
    float:right;
    padding-right: 30px;
}

/* ##########################  mymenu header  ########################*/

header.mymenu_layout div img{
    vertical-align: middle;
}

header.mymenu_layout .logo {
    display: inline-block;
    width:14%;
    text-align: left;
    padding-left: 30px;
}

header.mymenu_layout .mymenu-display-title {
    display: inline-block;
    width:70%;
    text-align: center;
}

header.mymenu_layout .mymenu-display-title span {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

header.mymenu_layout .ico-menu {
    float:right;
    padding-right: 30px;
}

/* ##########################  footer  ########################*/

footer {
    min-width:1140px;
    background: #f5f5f5;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #808080;
}

footer .footer-top {
    height: 100px;
    border-bottom: 1px solid #dddddd;
}

footer .footer-top .footer-bar{
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

footer .footer-top .footer-bar .footer-logo {
    float:left;
    margin-top: 40px;
}

footer .footer-top .footer-bar .footer-menu  {
    float:right;
    margin-top: 40px;
}

footer .footer-top .footer-bar .footer-menu ul li {
    display: inline-block;
}

footer .footer-top .footer-bar .footer-menu ul li a {
    font-size: 14px;
    color: #808080;
}

footer .footer-bottom .footer-info {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    font-size: 14px;
    color: #808080;
}

footer .footer-bottom .footer-info .f-info-1 {
    margin-top: 35px;
}

footer .footer-bottom .footer-info .f-info-2 {
    margin-top: 15px;
}

footer .footer-bottom .footer-info .f-info-3 {
    margin-top: 15px;
}

footer .footer-bottom .footer-info .f-info-4 {
    margin-top: 42px;
}

footer .footer-bottom .footer-info ul li {
    display: inline-block;
}

footer .footer-bottom .footer-info .link_btn {
    position: absolute;
    bottom: 0px;
    right: 0;
}

footer .footer-bottom .footer-info .link_btn a {
    margin-right:29px;
}

footer .footer-bottom .footer-info .link_btn a:last-child {
    margin-right:0;
}

/* ##########################  paging  ######################## */
.msg_sound_only, .sound_only {
    display: inline-block !important;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0;
    line-height: 0;
    border: 0 !important;
    overflow: hidden !important;
}

.pager-box {
    width: 100%;
    margin: 80px 0 150px 0;
}

.pager-box .pg .pg_wrap {
    height: 30px;
    text-align: center;
}

.pager-box .pg .pg_wrap a, span {
    vertical-align: middle;
}

.pager-box .pg .pg_wrap a {
    padding: 5px 10px;
}

.pager-box .pg .pg_wrap a.current {
    background: url(../../images/pager/icon-pager-current.png) no-repeat;
    color: white;
}

.pager-box .pg .pg_wrap a img {
    padding-top: 10px;
}

.pager-box .pg .pg_wrap .pg_page {
    margin: 0 8px;
}

/* ##########################  Inputs  ######################## */
input[type="text"] {
    width: 100px;
    padding: .4em .5em;
    font-family: inherit;
    vertical-align: middle;
    border: 1px solid #cccccc;
    border-radius: 0px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:24px;
    height:24px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../../images/common/input-checkbox-off.png) no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../../images/common/input-checkbox-on.png) no-repeat;
}

input[type="file"] {
    border: 1px solid #cccccc;
}

select {
    width: 100px;
    padding: .4em .5em;
    font-family: inherit;
    background: url(../../images/common/input-arrow-down.png) no-repeat 95% 50%;  
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 1px solid #cccccc;
    border-radius: 0px;
}

select::-ms-expand { /* for IE 11 */
    display: none;
}

.textarea-box {
    height: auto;
    position: relative;
    display: inline-block;
}

.textarea-box textarea {
    width: 100%;
    resize: none;
    min-height: 4.5em;
    line-height:1.6em;
    max-height: 9em;
    padding: 12px 0 0 16px;
    font-family: inherit;
    border-color: #cccccc;
}

.textarea-box p.textarea-cnt-box {
    position: absolute;
    bottom: 16px;
    right: 24px;
    font-size: 14px;
    font-weight: 300;
    color: #999999;
}

.textarea-box span#textarea-cnt {
    color: #ff7081;
}

/* ##########################  Shapes  ########################*/
/* ########  buttons  ########*/
button.btn-black-white {
    border-radius: 40px;
    background: #000000;
    color: #ffffff;
}

button.btn-black2-white {
    border-radius: 40px;
    background: #333333;
    color: #ffffff;
}

button.btn-white-gray {
    border:1px solid #999999;
    border-radius: 40px;
    background: #ffffff;
    color: #b8b8b8;
}

button.btn-gray-white {
    border:1px solid #cccccc;
    border-radius: 40px;
    background: #cccccc;
    color: #ffffff;
}

button.btn-purple-white {
    border-radius: 40px;
    background: #694ec2;
    color: #ffffff;
}

button.btn-white-purple {
    border:1px solid #694ec2;
    border-radius: 40px;
    background: #ffffff;
    color: #694ec2;
}
