/* 
    reset 으로 위치 옮김
    @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
*/

/* 
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
*/


/* ###################### global font style ###################### */
/* weight */
span.txt-bold {
    font-weight: 700;
}

/* color */
p.txt-white {
    color: #ffffff;
}

p.txt-purple {
    color: #683dcc;
}

p.txt-pink {
    color: #d9419c;
}

span.txt-purple {
    color: #683dcc;
}

span.txt-red {
    font-weight: 700;
    color:red;
}

span.txt-pink {
    color:#d9419c;
}

span.txt-pink-b {
    font-weight: 700;
    color:#d9419c;
}

span.txt-sky {
    font-weight: 700;
    color: #5b80c9;
}

h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: black;
}

/*  etc  */
span.f-gubun {
    font-size: 14px;
    color: #cccccc;
    padding-left: 10px;
    padding-right: 5px;
}