/* Layout */
section#main-banner {width:100%;height:780px;margin:0 auto;}
section#main-program {width:1140px;margin:0 auto;}
section#main-subBanner {width:100%;height:240px;margin:0 auto;}
section#main-info {width:1140px;height:822px;margin:0 auto;}

/* Style */
#main-banner .swiper-container {
    min-width:1140px;
    height: 100%;
}

#main-banner .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

section#main-program {
    margin-top: 30px;
}

#main-program .place {
    position: relative;
    width:100%;
    height:550px;
    margin-top: 130px;
}

#main-program .place .place-info {
    width:100%;
    height:100%;
}

#main-program .place .place-info .up {
    margin-top: -20px;
}

#main-program .place .place-info .down {
    margin-top: 20px;
}

#main-program .place .place-info .place-a {
    float:left;
    -webkit-transition: margin-top 0.5s linear 0.1s;
    transition: margin-top 0.5s linear 0.1s;
}

#main-program .place .place-info .place-b {
    float:right;
    -webkit-transition: margin-top 0.5s linear 0.1s;
    transition: margin-top 0.5s linear 0.1s;
}

#main-program .place .place-info .place-box {
    position: absolute;
    width:365px;
    height:274px;
    left:0; 
    right:0; 
    top: 0; 
    bottom:0; 
    margin: auto;
    background: white;
}

#main-program .place .place-info .place-box ul li.title{
    width:100%;
    height:28px;
    line-height: 28px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
}

#main-program .place .place-info .place-box ul li.txt{
    width:100%;
    height:16px;
    line-height: 16px;
    text-align: center;
    padding-top: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

#main-program .place .place-info .place-box ul li.btn{
    width:100%;
    height:16px;
    line-height: 16px;
    text-align: center;
    padding-top: 55px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

#main-program .place .place-info .place-box ul li.btn a{
    color:white;
    background:#694ec2;
    border-radius: 40px;
    padding:14px 55px;
}

#main-program .program {
    margin-top: 60px;
    text-align: center;
    
}

#main-program .program .program-line {
    width:1140px;
    height:10px;
    padding-bottom: 80px;
    background: url(../../images/index/img-main-line.png) no-repeat;
}

#main-program .program .program-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
}

#main-program .program .p-list{
    display: inline-block;
    margin-top: 38px;
}

#main-program .program .p-list{
    display: inline-block;
}

#main-program .program .p-list ul li{
    display:inline-block;
    position: relative;
    margin-right: 20px;
}


#main-program .program .p-list ul li:last-child{
    margin-right: 0;
}

#main-program .program .p-list img {
    width:362px;
    height:240px;
}

#main-program .program .p-list span.p-type {
    position: absolute;
    top: 5px;
    right: 80px;
    width:65px;
    height:65px;
    background:url(../../images/index/icon-program-attr.png) no-repeat;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: white;
    line-height: 65px;
}

#main-program .program .p-list span.p-status {
    position: absolute;
    top: 5px;
    right: 5px;
    width:65px;
    height:65px;
    background:url(../../images/index/icon-program-ing.png) no-repeat;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: white;
    line-height: 65px;
}

#main-program .program .p-list span.p-status-finish {
    position: absolute;
    top: 5px;
    right: 10px;
    width:65px;
    height:65px;
    background:url(../../images/index/icon-program-finish.png) no-repeat;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: white;
    line-height: 65px;
}

#main-program .program .p-list ul li dl {
    text-align: left;
}

#main-program .program .p-list ul li dl dt {
    margin-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

#main-program .program .p-list ul li dl dd {
    height:24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #666666;
}

#main-program .program .p-list ul li dl dd:nth-child(2) {
    margin-top: 15px;
}


section#main-subBanner {
    margin-top: 100px;
}

#main-subBanner .sub-banner-img {
    width:1140px;
    height:100%;
    margin: 0 auto;
    background:red;
}

section#main-info {
    width:1140px;
    margin-top: 80px;
}

section#main-info .info-box1 {
    width:100%;
    overflow: hidden;
}

#main-info .info-box1 h3 {
    display: inline;
}

#main-info .info-box1 .insta {
    float:left;
    overflow: hidden;
    width:569px;
    height:310px;
}

#main-info .info-box1 span.main-insta-txt {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: black;
}

#main-info .info-box1 .insta-list {
    width: 100%;
    padding-top: 27px;
}

#main-info .info-box1 .insta-list ul li {
    display: inline-block;
    padding-right: 15px;
}

#main-info .info-box1 .insta-list ul li:nth-child(5){
    padding-top: 17px;
}

#main-info .info-box1 .notice {
    float:left;
    overflow: hidden;
    width:569px;
    height:310px;
    padding-left:31px;
}

#main-info .info-box1 .notice-list {
    width: 100%;
    padding-top: 24px;
}

#main-info .info-box1 .notice-list a {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

#main-info .info-box1 span.main-notice-txt {
    float:right;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: black;
    line-height: 34px;
}

/* li 길이 64 */
#main-info .info-box1 .notice-list ul li {
    height:64px;
    line-height:64px;
    overflow: hidden; /* date와 함께 정렬 */
}

#main-info .info-box1 .notice-list ul li:first-child {
    border-top:2px solid black;
}

#main-info .info-box1 .notice-list ul li {
    border-bottom:1px solid #e6e6e6;
}


#main-info .info-box1 .notice-list ul li a {
    font-size: 16px;
}

#main-info .info-box1 .notice-list ul li a span.notice-date {
    float:right;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: black;
}

#main-info .info-box2 {
    margin-top: 80px;
}

#main-info .info-box2 .main-map img{
    margin-top: 30px;
}