/* layout */
section.myspace {width:1140px;min-height:850px;margin:0 auto;}

.myspace-detail-gray {
    background: #ebebeb;
}

/* ############### myspace layout style ################# */
/* style */
.myspace .myspace-dropbox {
    width: 160px;
    height: 46px;
    float: right;
    margin-top: 60px;
    border:1px solid #e5e5e5;
    overflow: hidden;
}

table.myspace-table {
    width: 100%;
    margin-top: 137px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    border-collapse: collapse;
}

.myspace-table th {
    height: 80px;
    background: #f2f2f2;
    font-size: 18px;
    font-weight: 700;
    border-top : 1px solid #694ec2;
}

.myspace-table td {
    border-top : 1px solid #dddddd;
    border-bottom : 1px solid #dddddd;
}

.myspace-table tr {
    height: 75px;
}

.myspace-table tr td a {
    text-decoration: none;
    position: relative;
    color: black;
}

.myspace-table tr td a:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 0 1px;
    border-style: solid;
}

.myspace-table tr td a:visited {
    color: #694ec2;
}


/* ############### myspace-index layout style ################# */
table.myspace-myinfo-table {
    width: 100%;
    margin-top: 100px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    border-collapse: collapse;
}


table.myspace-myinfo-table colgroup col {
    width: 285px;
    border: 1px solid #e5e5e5;
}


table.myspace-myinfo-table colgroup .t-gray {
    background: #fafafa;
}

table.myspace-myinfo-table col:nth-child(1) img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.myspace-myinfo-table th {
    height: 80px;
    font-size: 18px;
    font-weight: 700;
    border-top : 2px solid #694ec2;
}

.myspace-myinfo-table tbody tr:nth-child(1) {
    height: 393px;
    vertical-align: top;
}

.myspace-myinfo-table tbody tr:nth-child(1) td {
    padding-top: 61px;
}

.myspace-myinfo-table tbody tr:nth-child(1) td:nth-child(1) .myprofile {
    margin-bottom: 27px;
}

.myspace-myinfo-table tbody tr:nth-child(2) {
    height: 111px;
    vertical-align: top;
}

.myspace-myinfo-table td {
    border-top : 1px solid #dddddd;
}

.myspace-myinfo-table tr:last-child td {
    border-top : 0px;
}

.myspace-myinfo-table tr td a {
    text-decoration: none;
    position: relative;
    color: black;
}

.myspace-myinfo-table tr td .btn {
    width: 160px;
    height: 50px;
    padding: 14px 24px;
    border:2px solid #000000;
    border-radius: 40px;
    color: #000000;
}

.myspace-myinfo-table .myinfo-table-content {
    width: 270px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-align: left;
}

.myspace-myinfo-table .myinfo-table-content ul li {
    min-height: 34px;
}

.myspace-myinfo-table .myinfo-table-content span.type {
    font-weight: 700;
    display: inline-block;
    width: 96px;
    padding-left: 21px;
    vertical-align: top;
}

.myspace-myinfo-table .myinfo-table-content span.type+div {
    display: inline-block;
    width: 159px;
    line-height: 120%;
}

.myspace-myinfo-table .myinfo-table-content .blank {
    padding-top: 90px;
    color: #cccccc;
    text-align: center;
}

/* ############### myspace-profile layout style ################# */
table.myspace-myprofile-table {
    width: 100%;
    margin-top: 100px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: left;
    border-collapse: collapse;
}

table.myspace-myprofile-table colgroup col {
    border: 1px solid #e5e5e5;
}

table.myspace-myprofile-table colgroup col:nth-child(1) { /* col width */
    width: 23%;
    background: #fafafa;
}

table.myspace-myprofile-table colgroup col:nth-child(1) span.type {
    display:table-cell;vertical-align:middle;
}

table.myspace-myprofile-table colgroup col:nth-child(2) {
    background: #ffffff;
}

.myspace-myprofile-table tbody tr td {
    padding-top: 30px;
    padding-left: 62px;
}

.myspace-myprofile-table tbody tr:nth-child(1) {
    height: 185px;
    vertical-align: top;
    border-top : 4px solid #694ec2;
}

.myspace-myprofile-table tbody tr:nth-child(2) td {
    height: 111px;
    padding-top: 0;
}

.myspace-myprofile-table tr td {
    border-top : 1px solid #dddddd;
}

.submit-box {
    height: 222px;
    margin-top: 80px;
    text-align: center;
}

.submit-box  button {
    margin:0 20px;
}

/* in table style */
.myspace button.btns {
    width: 150px;
    height: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.myspace-myprofile-table span.type {
    font-weight: 700;
    vertical-align: top;
}

table.myspace-myprofile-table .myprofile {
    display: inline-block;
}

table.myspace-myprofile-table .myprofile img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.myspace-myprofile-table .btn-box {
    display: inline-block;
    padding-left: 20px;
    vertical-align: bottom;
}

.myspace-myprofile-table input {
    width: 620px;
    height: 50px;
    padding-left: 20px;
    margin-right: 20px;
    border: 1px solid #cccccc;
}

/* ############### myspace-info layout style ################# */
table.myspace-infodetail-table {
    width: 100%;
    margin-top: 100px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: left;
    border-collapse: collapse;
}

.myspace-infodetail-table tbody {
    border : 1px solid #dddddd;
}

.myspace-infodetail-table tr td {
    padding-left: 60px;
}

.myspace-infodetail-table td {
    border-top : 1px solid #e5e5e5;
}

.myspace-infodetail-table colgroup col:nth-child(1) {
    width: 260px;
    background: #fafafa;
}

.myspace-infodetail-table colgroup col:nth-child(2) {
    background: #ffffff;
}

.myspace-infodetail-table tbody tr:nth-child(1) {
    height: 75px;
    border-top : 4px solid #694ec2;
}

.myspace-infodetail-table tbody tr:nth-child(2) {
    height: 78px;
}

.myspace-infodetail-table tbody tr:nth-child(3) {
    height: 111px;
}

.myspace-infodetail-table tbody tr:nth-child(4) {
    height: 140px;
}

.myspace-infodetail-table tbody tr:nth-child(5) {
    height: 170px;
}

.myspace-infodetail-table tbody tr:nth-child(6) {
    height: 290px;
    vertical-align: top;
}

.myspace-infodetail-table tbody tr:nth-child(6) td {
    padding-top: 30px;
}

/* inner style */
.myspace-infodetail-table span.type {
    font-size: 18px;
    font-weight: 700;
}

.myspace-infodetail-table .btn {
    width: 160px;
    height: 50px;
    padding: 14px 24px;
    border:2px solid #000000;
    border-radius: 40px;
    color: #000000;
}

.myspace-infodetail-table select.birth {
    width: 150px;
    height: 50px;
    padding-left: 16px;
    margin-right: 15px;
}

.myspace-infodetail-table select.tel-t {
    width: 150px;
    height: 50px;
    padding-left: 16px;
    margin-right: 15px;
}

.myspace-infodetail-table input.phone {
    width: 100px;
    height: 50px;
    padding-left: 16px;
    margin: 0 5px;
}

.myspace-infodetail-table input.zip {
    width: 560px;
    height: 50px;
    padding-left: 16px;
    margin-right: 16px;
}

.myspace-infodetail-table input.address {
    width: 731px;
    height: 50px;
    padding-left: 16px;
    margin-top: 11px;
}

.myspace-infodetail-table input.phone:nth-child(4) {
    margin-right: 20px;
}

.myspace-infodetail-table p.tel-text {
    margin-top: 10px;
    color: #ff7081;
}

.myspace-infodetail-table ul li {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}

.myspace-infodetail-table .myspace-radios {
    margin-top: 24px;
}

/* ############### myspace-info layout style ################# */
table.myspace-certify-table {
    width: 100%;
    margin-top: 100px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: left;
    border-collapse: collapse;
}

.myspace-certify-table tbody {
    border : 1px solid #dddddd;
}

.myspace-certify-table tr td {
    padding-left: 60px;
}

.myspace-certify-table colgroup col:nth-child(1) {
    width: 260px;
    background: #fafafa;
}

.myspace-certify-table colgroup col:nth-child(2) {
    background: #ffffff;
}

.myspace-certify-table tbody tr:nth-child(1) {
    height: 145px;
    border-top : 4px solid #694ec2;
}

.myspace-certify-table tbody tr:nth-child(1) td {
    padding-top: 30px;
    vertical-align: top;
}

/* inner style */
.myspace-certify-table span.type {
    font-size: 18px;
    font-weight: 700;
}

.myspace-certify-table .btn {
    width: 160px;
    height: 50px;
    padding: 14px 24px;
    border:2px solid #000000;
    border-radius: 40px;
    color: #000000;
}

.myspace-certify-table p.certify-info {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #ff7081;
}

.myspace-certify-table input.certify-file {
    width: 630px;
    height: 50px;
    padding-left: 16px;
    margin-right: 16px;
    border-radius: 3px;
    color: #ffffff;
}