/* layout */
section.myspace {width:1140px;min-height:850px;margin:0 auto;}

/* style */
.myspace .myspace-dropbox {
    width: 160px;
    height: 46px;
    float: right;
    margin-top: 60px;
    border:1px solid #e5e5e5;
    overflow: hidden;
}

table.myspace-table {
    width: 100%;
    margin-top: 137px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    border-collapse: collapse;
}

.myspace-table th {
    height: 80px;
    background: #f2f2f2;
    font-size: 18px;
    font-weight: 700;
    border-top : 1px solid #694ec2;
}

.myspace-table td {
    border-top : 1px solid #dddddd;
    border-bottom : 1px solid #dddddd;
}

.myspace-table tr {
    height: 75px;
}

.myspace-table tr td a {
    text-decoration: none;
    position: relative;
    color: black;
}

.myspace-table tr td a:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 0 1px;
    border-style: solid;
}

.myspace-table tr td a:visited {
    color: #694ec2;
}

/* ############### myinfo table style ################# */
table.myspace-myinfo-table {
    width: 100%;
    margin-top: 100px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    border-collapse: collapse;
}


table.myspace-myinfo-table colgroup col {
    width: 285px;
    border: 1px solid #e5e5e5;
}


table.myspace-myinfo-table colgroup .t-gray {
    background: #fafafa;
}

table.myspace-myinfo-table col:nth-child(1) img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.myspace-myinfo-table th {
    height: 80px;
    font-size: 18px;
    font-weight: 700;
    border-top : 1px solid #694ec2;
}

.myspace-myinfo-table tbody tr:nth-child(1) {
    height: 393px;
    vertical-align: top;
}

.myspace-myinfo-table tbody tr:nth-child(1) td {
    padding-top: 61px;
}

.myspace-myinfo-table tbody tr:nth-child(1) td:nth-child(1) .myprofile {
    margin-bottom: 27px;
}

.myspace-myinfo-table tbody tr:nth-child(2) {
    height: 111px;
    vertical-align: top;
}

.myspace-myinfo-table td {
    border-top : 1px solid #dddddd;
}

.myspace-myinfo-table tr:last-child td {
    border-top : 0px;
}

.myspace-myinfo-table tr td a {
    text-decoration: none;
    position: relative;
    color: black;
}

.myspace-myinfo-table tr td .btn {
    width: 160px;
    height: 50px;
    padding: 14px 24px;
    border:2px solid #000000;
    border-radius: 40px;
    color: #000000;
}

.myspace-myinfo-table .myinfo-table-content {
    width: 270px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-align: left;
}

.myspace-myinfo-table .myinfo-table-content ul li {
    min-height: 34px;
}

.myspace-myinfo-table .myinfo-table-content span.type {
    font-weight: 700;
    display: inline-block;
    width: 96px;
    padding-left: 21px;
    vertical-align: top;
}

.myspace-myinfo-table .myinfo-table-content span.type+div {
    display: inline-block;
    width: 159px;
    line-height: 120%;
}

.myspace-myinfo-table .myinfo-table-content .blank {
    padding-top: 90px;
    color: #cccccc;
    text-align: center;
}


/*  줄별 색상 넣기
tr:nth-child(odd) {
    background-color: #dddddd;
} 
*/