/* Layout */
section#main-banner {width:100%;margin:0 auto;}
section#main-program {width:1140px;margin:0 auto;}
section#program-list {width:1140px;height:auto;margin:0 auto;}

/* Style */
header div {
    line-height: 85px;
}

header div img{
    vertical-align: middle;
}

header .logo {
    display: inline-block;
    width:14%;
    text-align: left;
    padding-left: 30px;
}

header .gnb {
    display: inline-block;
    width:70%;
    text-align: center;
}

header .gnb ul{
    list-style: none;    
}

header #gnb ul li {
    display:inline-block;
}

header #gnb ul li a {
    padding:30px 2px;
    margin: 0 22px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

header #gnb ul li a:hover {
    color: #694ec2;
    border-bottom:3px solid #694ec2;
}

header .ico-menu {
    float:right;
    padding-right: 30px;
}

#main-banner {
    height:295px;
    padding-top: 90px;
    text-align: center;
    background: url(../../images/program/img-sub-banner.jpg);
}

#main-banner .banner-content{
    width:330px;
    height:113px;
    margin:0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}

#main-banner .banner-content .banner-text{
    font-size: 36px;
    font-weight: bold;
    color: white;
}
#main-banner .banner-content .banner-btns {
    margin-top: 34px;
}

#main-banner .banner-content .banner-btns span.btn {
    display: inline-block;
    width: 149px;
}


#main-banner .banner-content .banner-btns a {
    border-radius: 30px;
    padding:10px 4px;
}

#main-banner .banner-content .banner-btns a:first-child{
    font-size: 16px;
    color: white;
    background: #694ec2;
    margin-right: 6px;
}

#main-banner .banner-content .banner-btns a:last-child{
    font-size: 16px;
    color: #694ec2;
    background: white;
    margin-left: 6px;
}


section#main-program {
    margin-top: 100px;
    overflow: hidden;
}

#main-program .left-box {
    float:left;
    width: 688px;
}

#main-program .right-box {
    float:right;
    width: 420px;
    margin-left:23px;
}

.program-cal {
    height: 453px;
}

.program-cal .cal-header {
    width: 420px;
    height: 117px;
    background: #694ec2
}

.program-cal .cal-header .btn-prev {
    width:57px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

.program-cal .cal-header img {
    margin-top: 41px;
}

.program-cal .cal-header .cal-main {
    display: inline-block;
    width:290px;
    height:117px;
    text-align: center;
}

.program-cal .cal-header .cal-main .cal-year-month {
    margin-top: 20px;
}

.program-cal .cal-header .cal-main .cal-text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 36px;
    color: white;
}

.program-cal .cal-header .cal-main ul li {
    display: inline-block;
    padding: 5px;
}

.program-cal .cal-header .cal-main ul li a {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #afa3d1;
}

.program-cal .cal-header .cal-main ul li.active a {
    color: white;
}

.program-cal .cal-header .btn-next {
    width:57px;
    height:110px;
    display: inline-block;
    vertical-align: top;
}

.program-cal .cal-list {
    height:335px;
    border:1px solid #e5e5e5;
}

/* 
참고용
.program-cal .cal-list span {
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
} */

.program-cal .cal-list .cal-list-box {
    width: 378px;
    height: 285px;
    margin: 0 auto;
    margin-top: 25px;
    overflow: auto;
}

.program-cal .cal-list .cal-list-box ul li {
    height: 60px;
    margin-top: 10px;
}


.program-cal .cal-list .cal-list-box ul li:first-child {
    margin-top: 0;
}

.program-cal .cal-list .cal-list-box ul li .datebox {
    width: 60px;
    height: 60px;
    float: left;
    text-align: center;
    background: #f5f5f5;
}

.program-cal .cal-list .cal-list-box span {
    font-family: 'Noto Sans KR', sans-serif;
}

.program-cal .cal-list .cal-list-box ul li .datebox span {
    padding-top: 5px;
    display: block;
}

.program-cal .cal-list .cal-list-box ul li .datebox span:first-child {
    height:50%;
    font-size: 24px;
}

.program-cal .cal-list .cal-list-box ul li .datebox span:last-child {
    height:40%;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
}

.program-cal .cal-list .cal-list-box ul li .cal-schedule {
    width: 275px;
    height: 60px;
    float: left;
    margin-left: 20px;
}

.program-cal .cal-list .cal-list-box ul li .cal-schedule span {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.program-cal .cal-list .cal-list-box ul li .cal-schedule span:first-child {
    padding: 5px 0;
}

.program-cal .cal-list .cal-list-box ul li .cal-schedule span:last-child {
    font-weight: 600;
    color: #bd56bf;
}

#program-list .program {
    margin-top: 80px;
    text-align: center;
    
}

#program-list .program .program-header {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

#program-list .program .program-header .program-tag-list {
    float: left;
    margin-left: 15px;
}

#program-list .program .program-header .program-tag-list ul li{
    width: 56px;
    height: 29px;
    display: inline-block;
}


#program-list .program .program-header .program-tag-list ul li:first-child {
    line-height: 29px;
    font-weight: 600;
    color: white;
    background: url(../../images/program/icon-tag.png) no-repeat;
}

#program-list .program .program-header .program-tag-list ul li.active a {
    font-weight: bold;
    color: #694ec2;
}


#program-list .program .program-header .program-dropbox {
    float: right;
    margin-right: 15px;
}


#program-list .program .p-list{
    display: inline-block;
    margin-top: 30px;
}

#program-list .program .p-list{
    display: inline-block;
}

#program-list .program .p-list ul li{
    display:inline-block;
    position: relative;
    margin: 0 4px;
    margin-bottom: 50px;
}


#program-list .program .p-list ul li:last-child{
    margin-right: 0;
}

/* 
#program-list .program .p-list ul li:nth-child(4n){
    margin-left: 0;
} 
*/


#program-list .program .p-list img {
    width:362px;
    height:240px;
}

#program-list .program .p-list span.p-type {
    position: absolute;
    top: 5px;
    right: 80px;
    width:65px;
    height:65px;
    background:url(../../images/index/icon-program-attr.gif) no-repeat;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: white;
    line-height: 65px;
}

#program-list .program .p-list span.p-status {
    position: absolute;
    top: 5px;
    right: 5px;
    width:65px;
    height:65px;
    background:url(../../images/index/icon-program-ing.gif) no-repeat;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: white;
    line-height: 65px;
}

#program-list .program .p-list span.p-status-finish {
    position: absolute;
    top: 5px;
    right: 10px;
    width:65px;
    height:65px;
    background:url(../../images/index/icon-program-finish.gif) no-repeat;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: white;
    line-height: 65px;
}

#program-list .program .p-list ul li dl {
    text-align: left;
}

#program-list .program .p-list ul li dl dt {
    margin-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

#program-list .program .p-list ul li dl dd {
    height:24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #666666;
}

#program-list .program .p-list ul li dl dd:nth-child(2) {
    margin-top: 15px;
}


#program-list .program .p-more {
    padding-bottom: 140px;
}

/* ###############  program regist  ################## */
/* Layout */
section.program-regist {width:1140px;height:auto;margin:0 auto;}
body.regist-gray {background: #ebebeb;}
header {background:#ffffff;}

/* Style */
.program-regist p.display-title {
    margin-top: 100px;
    font-size: 28px;
    font-weight: 700;
    color: #000000;
}

.program-regist .program-input-box {
    margin-top: 80px;
    padding: 28px 60px 80px 60px;
    background: #ffffff;
}

.program-regist .program-input-box.first {
    margin-top: 30px;
    border-top: 4px solid #683dcc;
}

/* input-box common style */
.program-regist .program-input-box p.type {
    margin-top: 36px;
    font-size: 18px;
    font-weight: 700;
}

.program-regist .program-input-box button {
    width: 150px;
    height: 50px;
    margin-top: 16px;
}

.program-regist .program-input-box p.type span.txt-small-info {
    font-size: 14px;
    font-weight: 300;
    color: #666666;
}

.program-regist .program-input-box input {
    margin-top: 16px;
    padding-left: 16px;
    color: #000000;
    border-radius: 3px;
}

.program-regist .program-input-box select {
    margin-top: 16px;
}

/* inner  style */
.program-regist .program-input-box .input-box {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}

.program-regist .program-input-box input.r-title
, .program-regist .program-input-box input.r-type
, .program-regist .program-input-box input.r-supply {
    width: 100%;
    height: 50px;
    margin-right: 16px;
}

.program-regist .program-input-box .input-box p.input-cnt-box {
    position: absolute;
    bottom: 16px;
    right: 24px;
    font-size: 14px;
    font-weight: 300;
    color: #999999;
}

.program-regist .program-input-box .input-box span#input-title-cnt {
    color: #ff7081;
}

.program-regist .program-input-box .r-flex-box {
    justify-content: space-between;
}

.program-regist .program-input-box .r-flex-box .left-area {
    width: 500px;
}

.program-regist .program-input-box .r-flex-box .left-area select.r-type {
    width: 90%;
    height: 50px;
    margin-top: 16px;
}

.program-regist .program-input-box .r-flex-box .right-area {
    width: 500px;
}

.program-regist .program-input-box .r-flex-box .right-area .z-count-box {
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    border: 1px solid #cccccc;
    text-align: center;
}

.program-regist .program-input-box .r-flex-box .right-area .z-count-box div {
    height: 48px;
    line-height: 48px;
}

.program-regist .program-input-box .r-flex-box .right-area .z-count-box img {
    vertical-align: middle;
}
.program-regist .program-input-box .r-flex-box .right-area .z-count-box div:nth-child(1) {
    width: 59px;
    background: #f6f6f6;
    border-right: 1px solid #cccccc;
    cursor: pointer;
}

.program-regist .program-input-box .r-flex-box .right-area .z-count-box div:nth-child(2) {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.program-regist .program-input-box .r-flex-box .right-area .z-count-box div:nth-child(3){
    width: 59px;
    text-align: center;
    background: #f6f6f6;
    border-left: 1px solid #cccccc;
    cursor: pointer;
}

.program-regist .program-input-box textarea {
    width: 100%;
    height: 150px;
    margin-top: 16px;
    resize: none;
    min-height: 4.5em;
    line-height:1.6em;
    max-height: 9em;
    padding: 12px 0 0 16px;
    font-family: inherit;
    border-color: #cccccc;
}

.program-regist .program-input-box input.r-tag {
    width: 100%;
}

.program-regist .program-input-box .chk-box {
    margin-top: 16px;
}

.program-regist .program-input-box .chk-box label {
    margin-right: 20px;
}

.program-regist .program-input-box select.cal {
    width: 140px;
    margin-right: 20px;
}

.program-regist .program-input-box span.tild-gubun {
    margin-right: 20px;
}

.program-regist .program-input-box p.total-time {
    display: inline-block;
}

.program-regist .program-input-box select.r-site {
    width: 490px;
}

.program-regist .program-input-box .radio-box {
    margin-top: 16px;
}

.program-regist .program-input-box .join-price {
    width: 100%;
}

.program-regist .program-input-box .bank-box {
    justify-content: space-between;
}

.program-regist .program-input-box .bank-box .r-bank {
    width: 200px;
}

.program-regist .program-input-box .bank-box .account-holder {
    width: 200px;
}

.program-regist .program-input-box .bank-box .account-number {
    width: 550px
}


.program-regist .submit-box {
    margin-top: 80px;
    margin-bottom: 160px;
    text-align: center;
}

.program-regist .submit-box button {
    width: 300px;
    height: 60px;
    margin: 0 25px;
}