html, body, .view {
  height: 100%; 
}

body {
    font-family: 'NanumSquare', 'sans-serif';
    background-color: #303030;
}


@media (max-width: 740px) {
    .full-page-intro {
      height: 1000px; 
    } 
  }
  

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
    .navbar {
      background-color: #1C2331; } }



/*
============================================================
 Commons 
============================================================
*/

.fa, .fas, .fab {
    vertical-align: middle;
}

.co-btn-white-black {
    cursor: pointer; 
    background-color: transparent;
    color: #ffffff;
    border-radius: 40px;
    border: 1px solid #e3e8f0;
}

/*
============================================================
 MyStyle 
============================================================
*/

nav {
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

nav .dropdown-toggle::after {
    display: none;
}

.navbar {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}


a.navbar-brand {
    font-size: 0.8rem;
}


@media (min-width: 600px) {
    .navbar.scrolling-navbar.top-nav-collapse {
        background-color: rgba(0, 0, 0, 1);
    }

}

a.navbar-brand.nav-logo {
    font-family: 'Bahagia';
    font-size: 2.5rem;
}

@media (max-width: 600px) {
    a.navbar-brand.nav-logo {
        font-size: 1.5rem;
    }
}

.search-icon {
    cursor: pointer;
}


.full-page-intro {
    background-color: #000000;
    height: 850px;
    width: 100%; 
}

@media (max-width: 600px) {
    .full-page-intro {
        height: 650px;
    }
}

.index-main {
    overflow: auto;
    position: relative;
    background-image: url(../images/index/img-main-active.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.index-main:before {
    content: '';
    position: absolute;
    top: 0; left:0; right:0; bottom:0;
    background: inherit;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.mask {
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5), inset 0 0 100px rgba(0, 0, 0, 0.2);
    background: rgba(66, 66, 66, 0.6);
}

.index-main .mask .container {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}
.center-img {
    cursor: pointer;
}

.center-img img {
    width: 100%;
}

.center-img img.icon-play {
    position: absolute;
    /* width: 90px; */
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
/////////////////////////////////////////////////////////////
*/


.icon-like {
    bottom: 0;
    right: -50px;
    display: block;
    padding: 0;
    z-index: 1000;
}

.checkbox {
    float: left;
    width: 55px;
    height: 55px;
    cursor: pointer;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    display: block;
    background-color: rgba(77, 77, 77, 1);
    -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
}

.checkbox:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.checkbox:hover:after {
    color: white;
}

.checkbox:after {
    line-height: 2;
    content: "\f007";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    display: block;
    content: "";
    text-align: center;
    width: 100%;
    height: 100%;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    font-size: 28px;
    -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
    -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
    -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
}

.checkbox.is-checked:after {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    color: white;
}

.checkbox.is-checked:hover:after {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.check:after {
    content: "\f00c";
    background-color: rgba(165, 194, 92, 0);
}

.check.is-checked:after {
    background-color: #a5c25c;
}

.heart:after {
    content: "\f004";
    background-color: rgba(241, 76, 56, 0);
}

.heart.is-checked:after {
    background-color: #e900aa;
}


/*
/////////////////////////////////////////////////////////////
*/

.arrow-nav {
    font-size: 2rem;
    cursor: pointer;
    border-radius: 30px;
    color: #ffffff;
    line-height: 1.1;
}

.arrow-nav.last {
    color: #666666;
}

.arrow-nav img {
    height: 25px;
    padding: 0 10px;
    vertical-align: middle;
}

.main-detail-box {
    color: #fff;
    font-weight: 300;
}

.main-title {
    font-size: 2rem;
    font-weight: 700;
}

.main-title span {
    font-size: 1rem;
}

.main-title span.level {
    border: 1px solid #fff;
}

.main-title span.runtime {

}


/* 슬라이드 리스트 스타일  */

.header-category-box {
    width: 96%;
    height: 60px;
    z-index: 1000;
}

.header-category-title {
    font-size: 1.3rem;
    font-weight: 800;
    color: #ffffff;
}

.header-category-all {
    font-size: 1.3rem;
    font-weight: 300;
    color: #ffffff;
}

.header-category-box {
    position: absolute;
    top: 0;
}

.header-category-box a {
    color: #b2b2b2;
}

.header-category-box .row {
    width: 100%;
}

.list-content {
    width :100%;
    height: 300px;
    padding-top: 50px;
    margin-top: -1px;
 
    /* border: 1px solid red; */
}

.list-content .swiper-wrapper {
    align-items: center;
}

.list-content .swiper-slide {
    min-width: 293px;
    max-width: 293px;
    height: 166px;  /* 디자인은 166 */
    position: relative;
    margin: 0 4px;
    -webkit-transition:margin 0.5s, -webkit-transform 0.3s, -webkit-min-width 0.4s, -webkit-min-height 0.4s, display 0.5s;
    transition:margin 0.5s, transform 0.3s, min-width 0.4s, min-height 0.4s, display 0.5s;
    /* -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; */

    /* border: 1px solid blue; */
}

.list-content .swiper-slide.active {
    /* min-width : 575px;
    min-height : 266px; */
    margin: 0 120px;
    transform: scale(1.8);
    z-index: 1100;
}

.list-content .swiper-slide img {
    position: absolute; 
    top:0; 
    left: 0;
    width: 100%;
    height: 100%;
}

.list-content .swiper-slide .media-detail, .media-detail-active {
    position: absolute;
    bottom: 0px;
    color: white;
    padding: 0;
    margin: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.list-content .swiper-slide.active .media-detail {
    visibility: hidden;
}

.list-content .swiper-slide .media-detail-active {
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    -moz-transition: opacity 500ms linear, visibility 0s linear 500ms;
    -o-transition: opacity 500ms linear, visibility 0s linear 500ms;
    -webkit-transition: opacity 500ms linear, visibility 0s linear;
    -webkit-transition-delay: 0s, 500ms;
    transition: opacity 500ms linear, visibility 0s linear 500ms;
}

.list-content .swiper-slide.active .media-detail-active {
    opacity: 1;
    visibility: visible;
    -moz-transition: opacity 500ms linear, visibility 0s linear;
    -o-transition: opacity 500ms linear, visibility 0s linear;
    -webkit-transition: opacity 500ms linear, visibility 0s linear;
    transition: opacity 500ms linear, visibility 0s linear;
}

.list-content .swiper-slide .media-detail-active img.icon-play {
    position: absolute;
    width: 16%;
    height: 30%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-content .swiper-slide .media-detail-active .media-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.list-content .swiper-slide .media-detail-active .media-detail-level {
    font-size: 0.5rem;
    font-weight: 300;
    color: #cccccc;
    padding: 2px 6px;
    margin-right: 8px;
    border: 1px solid #ffffff;
}

.list-content .swiper-slide .media-detail-active .media-detail-runtime {
    font-size: 0.5rem;
    font-weight: 300;
    color: #cccccc;
}

.list-content .swiper-slide .media-detail-active .media-detail-content {
    margin-bottom: 0;
    font-size: 0.6rem;
    font-weight: 300;
    color: #cccccc;
}

.list-content .swiper-slide .media-detail-active .media-detail-arrow {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2)
}

.list-content .swiper-slide .media-detail-active {
    padding: 0 4px;
}

.media-list .list-detail .co-bg-black {
    background: #191919;
}

.list-detail {
    display: none;
    height: 40%;
    color: #666666;
    margin-left: 0;
    margin-right: 0;
}

/* 
.list-detail div div.row div {
    padding-left: 0;
    padding-right: 0;
} */

.list-detail .detail-header {
    font-size: 1.4rem;
    font-weight: 700;
    border-bottom: 2px solid #666666;
}

@media (max-width: 600px) {
    .list-detail .detail-header {
        border-bottom: 0px;
    }
}

.list-detail .detail-header div {
    cursor: pointer;
    padding: 12px 0;
}

.list-detail .detail-header .active{
    color: #fff;
    border-bottom: 3px solid #fff;
}

.detail-content-1 {
    color: #cccccc;
}

.detail-content-1 .icon img {
    width: 45px;
}

.detail-content-1 .title {
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
}

.detail-content-1 .short-info {
    
}

.detail-content-1 .short-info .media-detail-level {
    font-size: 1.2rem;
    font-weight: 300;
    color: #cccccc;
    padding: 3px 8px;
    margin-right: 8px;
    border: 1px solid #ffffff;
} 


.list-detail .detail-content-2 {
    position: relative;
    cursor: pointer;
}

.list-detail .detail-content-2 img:first-child {
    width: 90%;
}

.list-detail .detail-content-2 img.icon-play {
    position: absolute;
    width: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    font-family: 'NanumSquare';
    background-color: #222222;
}

.footer-logo {
    font-family: 'Bahagia';
    font-size: 42px;
}

.footer-logo ~ p {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 300;
    color: #666666;
}